<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <!--<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>-->

 <script>
  $(function() {
    $( "#article_published_on" ).datepicker();
  });
  </script> 
</head>

<%= form_for @article do |f| %>
  <%= f.label :week %>
      <%= f.text_field :name, class: 'form-control' %>
      
      <%= f.label :published_on %>
      <%= f.text_field :published_on, class: 'form-control', data: { no_turbolink: true }%>
      
      <%= f.label :grocery %>
      <%= f.text_area :content, :rows => "9", class: 'form-control' %> <br>
      
      
      <%= f.submit "Create Grocery List", class: "btn btn-primary" %>
  </div>
</div>
<% end %>