<!DOCTYPE html><html lang="en">
<head><meta charset='UTF-8'><meta name="robots" content="noindex">

  	    <link rel="stylesheet" href="assets/startsida.css">
  	            <link rel="stylesheet" href="assets/bootstrap.min.css">
                <link rel="stylesheet" href="assets/ovrigt.css">

</head>

<body>

<br><div class="containerkorv">
     

      <div class="jumbotronkorv">
        <h1><font color="white">Det kompletta gymmet</font></h1>
        <p class="lead"><font color ="white">På Granbacka har vi allt från konditions- till träningsmaskiner, mycket fria vikter och många träningspass av varierande slag.</font></p>
      </div>
    </div> <br><br><!-- /container -->

<div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
          <%= image_tag("gym1.jpg")%>
          <h2>Heartrate</h2>
          <p>Vår uppsättning av konditionsmaskiner är följande: Löpband, Upright cyklar, Recumbent cyklar, Cross-Trainer. Alla dessa är utrustade med heartrate funktion, vilket innebär att maskinen läser av pulsen genom handtagen. De är även kompatibla med pulsmätare från Polar och FitLinxx. Life Fitness är fabrikatet på dessa maskiner.</p>
          <p><a class="btn btn-primary" href="#" role="button">Läs vidare &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <%= image_tag("gym8.jpg")%>
          <h2>Personlig Tränare</h2>
          <p>Vare sig du är nybörjare eller erfaren kan det finnas stora fördelar med att ta lite hjälp i din träning ibland. Dels för att få tips och råd gällande utförande och teknik, men även för att öka kvaliteten på din träning och göra den målstyrd. Våra personliga tränare har hög kompetens inom sitt område. Välkommen att boka in ett kostnadsfritt samtal med någon av dem!</p>
          <p><a class="btn btn-primary" href="#" role="button">Läs vidare &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        
        <div class="col-lg-4">
          <%= image_tag("gym4.jpg")%>
          <h2>DAP</h2>
          <p>Vidare finns det två stycken DAP (Dual action pulley) som är en otroligt flexibel och mångfacetterad dragmaskin. I den kan du utföra såväl vanliga styrkeövningar som explosiva utfall och komlicerad bålstabilitetsträning. Därutöver har vi atsdrag, sittande rodd, Smithmaskin, benpress, hacklift, stående och sittande vadmaskin.</p>
          <p><a class="btn btn-primary" href="#" role="button">Läs vidare &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
      <div class="row">
        <div class="col-lg-4">
          <%= image_tag("gym7.jpg")%>
          <h2>Utrustning</h2>
          <p>Vi har även en stor uppsättning med fria vikter och man kan till exempel köra bänkpress på inte mindre än fem ställen samtidigt. Det finns hantlar från ett halvt kg till 50 kg, internationella skivstänger med vikter från 0,25 till 50 kg. De flesta stänger och vikter är av fabrikatet Eleiko men även en del av Casall.</p>
          <p><a class="btn btn-primary" href="#" role="button">Läs vidare &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <%= image_tag("gym2.jpg")%>
          <h2>Maskiner</h2>
          <p>Gymmaskiner har vi för alla muskelgrupper och även en ställbar dragmaskin anpassad för rehabiliteringsträning. Maskinparken består i huvudsak av tre olika fabrikat: Nordic Gym, Life Fitness och Competition Line.</p>
          <p><a class="btn btn-primary" href="#" role="button">Läs vidare &raquo;</a></p>
        </div><!-- /.col-lg-4 -->

      </div>
</div> <!-- /.container marketing -->



<br><br>
</body>

</html>