<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- CSS -->
    <link href="assets/pizza.css" rel="stylesheet">
    <link href="assets/startsida.css" rel="stylesheet">
    <link href="assets/ovrigt.css" rel="stylesheet">
    <link href="assets/googlemaps.css" rel="stylesheet">

    <!-- Javascript -->
    <script src='assets/pizza.js'></script>
    <script src='assets/bootstrap.min.js'></script>

<script type="text/javascript">
$('.carousel').carousel();
    </script>

<style>



</style>

  </head>
<!-- NAVBAR
================================================== -->
  <body>

<section id="pizza">
    <address>
        <section class="cd-intro">
            <h1 class="cd-headline letters scale">
                <span>Det bästa med Granbacka Gym är</span>
                <span class="cd-words-wrapper">
                    <b class="is-visible">de&nbsp;generösa&nbsp;öppettiderna</b>
                    <b>den&nbsp;familjär&nbsp;stämningen</b>
                    <b>den&nbsp;kompetenta&nbsp;och&nbsp;engagerande&nbsp;personalen</b>
                    <b>valmöjligheten&nbsp;av&nbsp;medlemskap</b>
                </span>
            </h1>
        </section>
    </address>
</section>

    <!-- Carousel
    ================================================== -->
    <div class="container">
    <div class="row no-gutter">
    <div class="col-md-8">
    <div id="myCarousel" class="carousel slide carousel-fade" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
        <li data-target="#myCarousel" data-slide-to="4"></li>
        <li data-target="#myCarousel" data-slide-to="5"></li>
      </ol>
      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        <div class="item active">
			<%=image_tag("carouselpic2.jpg", :alt => "Slide0") %>  
        </div>
        <div class="item">
			<%=image_tag("carouselpic1.jpg", :alt => "Slide0") %>  
        </div>
        <div class="item">
			<%=image_tag("bild3.jpg", :alt => "Slide0") %>  
        </div>
        <div class="item">
            <%=image_tag("bild4.jpg", :alt => "Slide0") %>  
        </div>
        <div class="item">
            <%=image_tag("carouselpic5.jpg", :alt => "Slide0") %>  
        </div>
        <div class="item">
            <%=image_tag("carouselpic6.jpg", :alt => "Slide0") %>  
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div><!-- /.carousel -->
</div><!-- col-md-6 -->

        <div class="col-md-4">
            <div class="jumbotron">
              <h1 style="font-size: 35px"><font color="white">Aktuellt!</font></h1>
              <h1 style="font-size: 15px"><font color="white"><u>Öppet Dygnet Runt!</u></font></h1>
              <p style="font-size: 15px"><font color="white">Nu har vi öppet dygnet runt för alla med guldkort!
Bli guldkortsmedlem för 300:- och få tillgång till gymmet dygnet runt alla dagar! 
Obs: Guldkortsmedlemskapet är en engångskostnad!</font></p>

              <h1 style="font-size: 15px"><font color="white"><u>Nu finns Granbacka på Facebook!</u></font></h1>
              <p style="font-size: 15px"><font color="white">På vår sida kan du bland annat läsa om vilka pass som erbjuds varje dag, om våra instruktörer, samt erbjudanden vi har.</font></p>
            </div>
        </div><!-- end of col-md-6 -->
</div> <!-- end of row -->
</div> <!-- end of container -->








      <hr class="featurette-divider">
<br><br><h1><center> Våra Priser </center></h1><br><br><br>


<div class="container">
        <div class="row">
                <div class="col-md-3">
                        <div class="panel panel-primary">
                                <div class="panel-heading">
                                        <h3 class="text-center">Gruppträning &amp; Gym</h3>
                                        <p class="text-center">Standard<br><br></p>
                                </div>
                                <div class="panel-body text-center">(Autogiro)
                                        <p class="lead" style="font-size:30px"><strong>389 kr/mån</strong></p>
                                </div>
                                <ul class="list-group list-group-flush text-center">
                                        <li class="list-group-item">
                                                Årskort <strong>4 695 kr</strong>
                                        </li>
                                        <li class="list-group-item">
                                                Halvårskort <strong>3 495 kr</strong>
                                        </li>
                                        <li class="list-group-item">
                                                Kvartalskort <strong>2 295 kr</strong>
                                        </li>
                                        <li class="list-group-item">
                                                Klippkort 10 X (giltigt 1 år) <strong>1 250 kr</strong>
                                        </li>
                                        <li class="list-group-item">
                                                Engångskostnad <strong>150 kr</strong>
                                        </li>
                                        <li class="list-group-item">
                                        <span class="glyphicon glyphicon-star"></span> Guldkort <strong> 300 kr </strong>




                                        </li>

                                </ul>
                        </div>
                </div>



                <div class="col-md-3">
                        <div class="panel panel-primary">
                                <div class="panel-heading">
                                        <h3 class="text-center">Gruppträning &amp; Gym</h3>
                                        <p class="text-center">Studenter, pensionärer, arbetssökande och föräldralediga.</p>
                                </div>
                                <div class="panel-body text-center">(Autogiro)
                                        <p class="lead" style="font-size:30px"><strong>289 kr/mån</strong></p>
                                </div>
                                <ul class="list-group list-group-flush text-center">
                                        <li class="list-group-item">
                                                Årskort <strong>3 495 kr</strong>
                                        </li>
                                        <li class="list-group-item">
                                                Halvårskort <strong>2 495 kr</strong>
                                        </li>
                                        <li class="list-group-item">
                                                Kvartalskort <strong>1 795 kr</strong>
                                        </li>
                                        <li class="list-group-item">
                                                Klippkort 10 X (giltigt 1 år) <strong>950 kr</strong>
                                        </li>
                                        <li class="list-group-item">
                                                Engångskostnad <strong>110 kr</strong>
                                        </li>
                                        <li class="list-group-item">
                                        <span class="glyphicon glyphicon-star"></span> Guldkort <strong> 300 kr </strong>
                                        </li>
                                </ul>
                        </div>
                </div>







                <div class="col-md-3">
                        <div class="panel panel-success">
                                <div class="panel-heading">
                                        <h3 class="text-center">Gymkort</h3>
                                        <p class="text-center">Standard<br><br></p>
                                </div>
                                <div class="panel-body text-center">(Autogiro)
                                        <p class="lead" style="font-size:30px"><strong>229 kr/mån</strong></p>
                                </div>
                                <ul class="list-group list-group-flush text-center">
                                        <li class="list-group-item">
                                                Årskort <strong>2 895 kr</strong>
                                        </li>
                                        <li class="list-group-item">
                                                Halvårskort <strong>1 995 kr</strong>
                                        </li>
                                        <li class="list-group-item">
                                                Kvartalskort <strong>1 495 kr</strong>
                                        </li>
                                        
                                        <li class="list-group-item">
                                        <span class="glyphicon glyphicon-star"></span> Guldkort <strong> 300 kr </strong>
                                        </li>
                                </ul>
                        </div>
                </div>
                <div class="col-md-3">
                        <div class="panel panel-success">
                                <div class="panel-heading">
                                        <h3 class="text-center">Gymkort</h3>
                                        <p class="text-center">Studenter, pensionärer, arbetssökande och föräldralediga.</p>
                                </div>
                                <div class="panel-body text-center">(Autogiro)
                                        <p class="lead" style="font-size:30px"><strong>199 kr/mån</strong></p>
                                </div>
                                <ul class="list-group list-group-flush text-center">
                                        <li class="list-group-item">
                                                Årskort <strong>2 595 kr</strong>
                                        </li>
                                        <li class="list-group-item">
                                                Halvårskort <strong>1 795 kr</strong>
                                        </li>
                                        <li class="list-group-item">
                                                Kvartalskort <strong>1 295 kr</strong>
                                        </li>
                                        
                                        <li class="list-group-item">
                                        <span class="glyphicon glyphicon-star"></span> Guldkort <strong> 300 kr </strong>
                                        </li>
                                </ul>
                        </div>
                </div>
        </div><!-- end of row -->
</div>

<div class="container">
        <div class="row">
            <div class="col-md-6">
                        <div class="panel panel-default">
                                <div class="panel-heading">
                                        <h3 class="text-center">Övriga Priser<br></h3>
                                </div>
                                <ul class="list-group list-group-flush text-center">
                                <li class="list-group-item">
                                                Solning Drop-in 3 min <strong>10 kr</strong>
                                        </li>
                                        <li class="list-group-item">
                                                Styrkeinstruktion 45 min <strong>300 kr</strong>
                                        </li>
                                        <li class="list-group-item">
                                                Personlig träning <strong>Kontakta oss</strong>
                                        </li>
                                        <li class="list-group-item">
                                                Kiropraktik <strong>500 kr</strong>
                                        </li>
                                        <li class="list-group-item">
                                                Massage 30min/45min/55min <strong>400 kr/500 kr/600 kr</strong>
                                        </li>
                                
                                </ul>
                        </div>
                </div>
                <div class="col-md-6">
                    <div class="panel panel-default">
                                <div class="panel-heading">
                                        <h3 class="text-center">Information</h3>
                                </div>
                                <ul class="list-group list-group-flush text-center">
                                
                                <li class="list-group-item">
                                        
                                        
                                         <p>Årskort kan frysas vid ett tillfälle i maximalt 30 dagar (gäller ej autogiro). Vid betalning via autogiro är bindningstiden 12 månader.</p>
                                        
                                         <p>Alla kort (utom klippkort) är personliga och får inte överlåtas eller säljas. Klippkort är giltiga 1 år från inköpsdagen oavsett antal klipp.</p>
                                        
                                         <p>Dagkort gäller ej för gruppträning. Åldersgräns för styrketräning är 16 år.</p>

                                        <li class="list-group-item">

                                         <a href="http://granbacka.com/pdf/Medlemsavtal%20blankett%20Granbacka%202009.pdf">Medlemsavtal för utskrift</a><br>

                                         <a href="http://granbacka.com/pdf/Membership%20agreement%20Granbacka.pdf">Membership agreement printer friendly verison</a>
                                        
                                                </li>
                                </ul>
                        </div>
                </div>
        </div><!-- end of row -->
</div>



























      <!-- START THE FEATURETTES -->
      <hr class="featurette-divider">
            <br><br><h1><center> Om Granbacka </center></h1><br><br><br>

      <div class="container">
      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Vår historia. <span class="text-muted">Funnits sedan 1970.</span></h2>
          <p class="lead">Granbacka Gym och Motion har funnits sedan 1970 och då drevs det av fritidsförvaltningen i Solna stad. År 2000 tog vi över driften av anläggningen och idag erbjuder vi ett brett träningsutbud med både pass och individuell träning som leds av våra duktiga instruktörer. Ni har också tillgång till både massage och kiropraktik.</p>
        </div>
        <div class="col-md-5">
          <%= image_tag("feat1.jpg", :class =>  "featurette-image img-responsive center-block") %>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading">Vi håller oss uppdaterade. </h2>
          <p class="lead">Vi följer noggrant utvecklingen av olika träningsmetoder och trender för att hela tiden kunna erbjuda dig det senaste på träningsfronten. Våra öppettider till gymmet är generösa för att du ska hinna med att träna på de tider som passar dig.</p>
        </div>
        <div class="col-md-5 col-md-pull-7">
          <%= image_tag("feat2.png", :class =>  "featurette-image img-responsive center-block") %>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Våra mål och ambitioner.</h2>
          <p class="lead">Vår ambition med Granbacka är att det ska vara en social samlingspunkt med högt till tak och nära till skratt. Så vi anordnar även andra aktiviteter som till exempel träffar, fester och den årliga skidresan till Sälen.</p>
        </div>
        <div class="col-md-5">

          <%= image_tag("feat3.png", :class =>  "featurette-image img-responsive center-block") %>
        </div>
      </div>


      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading">Vart vi håller till.</h2>
          <p class="lead">Vi finns på Emmylundsvägen 4 i Huvudsta/Solna. Närmaste tunnelbanestation är Västra Skogen och därifrån är det 2-3 minuters promenad till oss. Vill du ha mer information eller undrar över något så är du alltid välkommen att ringa oss på telefon 08-82 34 39 eller e-posta till info@granbacka.com.</p>
        </div>
        <div class="col-md-5 col-md-pull-7">
          <%= image_tag("feat4.png", :class =>  "featurette-image img-responsive center-block") %>
        </div>
      </div>
      </div> <!-- end of container -->


<br><br>

<div id="anchor-name">
<section id="cd-google-map">
    <div id="google-container"></div>
    <div id="cd-zoom-in"></div>
    <div id="cd-zoom-out"></div>
    <address>Emmylundsvägen 4, 171 72 Solna</address> 
</section>
</a>













    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    <!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>-->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBW2jSL1H9TXYVnbxo12D8dWtsrmhHB-98"></script>
<script src="assets/googlemaps.js"></script> <!-- Resource jQuery -->
  </body>
</html>