<div class ="row"> 
  <div class ="col-md-4"></div>
  <div class ="col-md-4">
<br><br><br><h1><center>Logga in</center></h1>

      <%= form_for(:session, url: sessions_path) do |f| %>
        <%= f.label :Användarnamn  %>
        <%= f.text_field :email, class: "form-control" %>
        <%= f.label :Lösenord %>
        <%= f.password_field :password, class: "form-control" %>
        <%= f.submit "Logga in", class: "btn btn-lg btn-primary btn-block" %>
      <% end %>

    <br>
    </div>
  </div>
